@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Manrope", "Segoe UI", sans-serif;
    color: #f8fafc;
    background-color: #04140a;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
